<h1>Menu</h1>

<%= form_tag menu_path, class: 'form-inline pull-xs-right', :method => 'get' do %>
	<%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control' %>
	<%= submit_tag "Search", :name => nil, class: 'btn btn-outline-success' %>
<% end %>

<% @food_items.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
				<div class="card">
					<%= image_tag food_item.image_url, class: 'card-img-top' %>
					<div class="card-block">
						<h4 class="card-title">
							<%= link_to food_item.name, food_item_path(food_item.id) %>
						</h4>
						<h3>
							<span class="tag tag-success"><%= food_item.price %></span>
						</h3>
						<% if food_item.food_view != nil %>
							<b>Viewed:</b> <%= food_item.food_view %>
						<% end %>
						<p class="card-text"><%= food_item.description %></p>
					</div>
					<div class="card-block">
						<%= link_to "Order", class: 'card-link btn btn-danger' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
